body {
  margin: 0;
}

img {
}

.bigHeader {
  max-width: 100%;
  max-height: 100%;

  /* Delete before Final*/
  height: 200px;
  background-color: salmon;
}

.container {
  width: 90vw;
  margin: 100px auto;
}

.topic1 {
}

.topic2 {
}

.topic3 {
}

.topic4 {
}

.header {
  width: 100%;
  margin-bottom: 50px;

  /* Delete before Final */
  height: 50px;
  background-color: tan;
}

.bodyText {
  width: 75%;
  margin-bottom: 50px;
  margin: 100px auto;

  /* Delete before Final */
  height: 150px;
  background-color: tan;
}

.bodyImg {
  width: 75%;
  margin-bottom: 50px;
  margin: 100px auto;

  /* Delete before Final */
  height: 150px;
  background-color: dodgerblue;
}

.footer {
  width: 100%;

  /* Delete before Final */
  height: 200px;
  background-color: salmon;
}
