* {
  box-sizing: border-box;
}

body {
  /*background-color: #8092ee;*/
  background: linear-gradient(#8092ee, #7dd1a8);
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  padding: 100px;
}

h1 {
  font-size: 80px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}


a:hover {
  color: white;
}
