body {
  margin: 0;
  background-color: tan;
}

.container {
  width: 900px;
  margin: 100px auto;
}

.header, .post, .image, .postFooter {
  background-color: #7c5d96;
  float: left
}

.header {
  width: 900px;
  height: 200px;
}

.post {
  width: 700px;
  height: 400px;
  margin: 100px 25px 25px 0;
}

.image {
  width: 175px;
  height: 200px;
  margin: 100px 0 0;
}

.postFooter {
  width: 700px;
  height: 50px;
}
