body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 130vw;
 margin: -50px -10%;
}
.block-1, .block-2, .block-3, .block-4 {
  width: 100px;
  height: 100px;
  float: right;
  opacity: .7;
  /* border-radius: 50%; */
  /* border: 10px solid black; */
}
.block-1 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #CAA8F5;
  margin: -20px;
}
.block-2 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #592E83;
  margin: -20px;
}
.block-3 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #9984D4;
  margin: -20px;
}
.block-4 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #230C33;
  margin: -20px;
}
