body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 130vw;
 margin: -50px -10%;
}
.block-1, .block-2, .block-3, .block-4 {
  width: 100px;
  height: 100px;
  float: right;
  opacity: .9;
  border-radius: 20%;
  border: 10px solid black;
}
.block-1 {
  border-color: #EAC435; /* yellow */
  margin: -30px;
}
.block-2 {
  border-color: #345995; /* blue */
  margin: -30px;
}
.block-3 {
  border-color: #03CEA4; /* green */
  margin: -30px;
}
.block-4 {
  border-color: #CA1551; /* red */
  margin: -30px;
}
