body {
  margin: 0;
  background-color: tan;
}

* {
  box-sizing: border-box;
}

.court {
  width: 900px;
  margin: 100px auto;
}

.single {
  width: 600px;
  float: left;
}

.column, .row, .square {
  background-color: #7c5d96;
  float: left;
}

/* side */
.column {
  width: 150px;
  height: 600px;
  border: 5px solid white;
}

/* back */
.row {
  width: 600px;
  height: 200px;
  border: 5px solid white;
}

/* service */
.square {
  width: 300px;
  height: 400px;
  border: 5px solid white;
}
